<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMPLOYEE_PROJECT</title>
</head>
<body bgcolor="white">

    <div class="container">
        <!-- Content here -->
        {% block content %}
        {% endblock %}
        <hr>
        <a href="/all_emp" class="btn btn-primary" role="button" data-bs-toggle="button">View all employees</a>
        <a class="btn btn-primary" href="/add_emp" role="button">Add an employee</a>
        <a class="btn btn-primary" href="/remove_emp" role="button">Remove an employee</a>
        <a class="btn btn-primary" href="/filter_emp" role="button">Filter an employee</a>
        
       
      </div>
   
</body>
</html>